extends layout

block content
  #wrapper
    table.skeleton 
        tr
            td.nav-container
                h1= title
            td.content-container
                div Content here 
    #footer
        div Copyright &copy; Ninja Store #{+new Date().getFullYear()} 
        a(href='/page?name=about') About 
        | |  
        a(href='/page?name=contact') Contact Us

