extends layout

block content
    #wrapper
        table.skeleton
            tr
                td.side-container
                    div.inner.shadow-right
                        div#header
                            h1= title
                            p Paste image from your clipboard and share it with your friends in one click.

                    div#footer
                        a(href='/page?name=about') About
                        div Copyright &copy; Front2Tooth #{+new Date().getFullYear()}

                td.content-container
                    div.inner
                        div.image-holder
                            if (imageSrc)
                                img(src= imageSrc)
                                // input(type=text, value= imageSrc)
                            else
                                div.content-tip
                                    h1.sh Ctrl + V to paste



