extends layout

block content
    #wrapper
        table.skeleton
            tr
                td.side-container
                    div.inner.shadow-right
                        div#header
                            h1= title

                    div#footer
                        a(href='/page?name=about') About
                        div Copyright &copy; Front2Tooth #{+new Date().getFullYear()}

                td.content-container
                    div.inner
                        div.image-holder
                            div.content-tip
                                h1.sh paste image from your clipboard


