extends layout

block content
    #wrapper
        #side-container
            div#side-inner
                div#header
                    h1 Pictalk
                    p Paste image from your clipboard and share it with your friends in one click.

                if (development)
                div.chat-wrap
                    div#chat
                        ul
                            each item, i in items
                                li
                                    span= i
                                    = item
                    div.name-input-wrap
                        input(type='text',
                            name='userName',
                            placeholder = 'Enter your name to join the chart')
                div.logger
                    div
                        p global online:
                            span#global-ocount
                        p picture online:
                            span#picture-ocount

            div#footer
                div Copyright &copy; #{+new Date().getFullYear()}&nbsp;
                    span.email hurricanebox@gmail.com

        #content-container.slided
            if (imageSrc)
                img.pasted.b-sha(src= imageSrc)
            else
                div.content-tip
                    a.sh Click me or Ctrl + V





