{% extends 'layout.html' %}

{% block head %}
{% parent %}
<!-- Custom Css -->
<!-- Custom JavaScript -->
<script type="text/javascript" src="js/fabric.js"></script>
{% endblock %}

{% block content %}
<div id="header">
    <div class="container">
        <a href="/" class="logo fl-l">Pictalk</a>
        <div class="controls fl-l">
            <div class="btn btn-primary btn-small" onclick="app.initCanvas()"><i class="icon-flash"></i></div>
        </div>
        <div class="fl-r" style="margin-top: 6px">
            <!--<span>Link to share</span>-->
            <input type="text" class="link-input" value="{% if picId %}{{domain}}/{{picId}}{% endif %}"/>
            <div class="btn btn-info" onclick="app.generateLink()">Get Link!</div>
        </div>
    </div>
</div>
<div id="content">
    <div id="pic-holder">
        {% if picId %}
        <img src="{{imageSrc}}" class="pasted" alt=""/>
        {% else %}
        <div class="tip">
            <h1>Paste your screenshot.</h1>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}