{% extends 'layout.html' %}

{% block head %}
{% parent %}
<!-- Custom Css -->
<style>
{% if !mac %}
/* if not mac add margins to pasted image */
#pic-holder img {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
{% endif %}
</style>
<!-- Custom JavaScript -->
<script type="text/javascript" src="js/fabric.js"></script>
{% endblock %}

{% block content %}
<div id="header">
    <div class="container">
        <a href="/" class="logo fl-l">Pastepic</a>
        <div class="controls">
            <div class="controls-blocker"></div>
            <div class="edit-block">
                <div class="btn-group">
                    <!--<div class="btn btn-inverse" onclick="app.toggleEditMode()"><i class="icon-flash"></i></div>-->
                    <div class="btn btn-inverse" onclick="app.picEdit('pencil', this)"><i class="icon-pencil"></i></div>
                    <div class="btn btn-inverse" onclick="app.picEdit('crop', this)"><i class="icon-crop"></i></div>
                </div>
            </div>
            <div class="vrt"></div>
            <div class="fl-l" style="margin-top: 2px">
                <div class="btn btn-primary" onclick="app.makeLink()">
                    <span>Get Link </span><i class="icon-right"></i></div>
                <input type="text" class="link-input" value="{% if picId %}{{domain}}/{{picId}}{% endif %}"/>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div id="pic-holder">
        {% if picId %}
        <img src="{{imageSrc}}" alt=""/>
        {% else %}
        <div class="tip">
            <h1>
            <span style="color: #858585">{% if mac %}Cmd{% else %}Ctrl{% endif %}+V</span> to paste your screenshot.    
            </h1>
        </div>
        {% endif %}
    </div>
</div>
<div id="footer">
    Developed by antonKalinin, 2013. Tips to 
    <a href="mailto:hurricanebox@gmail.com?Subject=Hi, Anton.">hurricanebox@gmail.com</a>
</div>

{% endblock %}
