<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=”description” content=”Simple screenshot online sharing. Paste picture and share link with firends.”/>
    <meta name="google-site-verification" content="lSiKJICbnkNgNNk9Y9Qpz3SJi5PY4ZIte2DRejae7SI" />
    <meta name='yandex-verification' content='7caba98896813c00' />
    <title>Pastepic. Simple screenshot sharing.</title>
    <link rel='icon' href='/css/img/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <!-- Libraries -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/ZeroClipboard.min.js"></script>
    <!-- Common scripts -->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    {% block head %}
    {% endblock %}
    <script type="text/javascript">
        app.pic.setId('{{picId}}');
        app.pic.setLink('{{picLink}}');
        app.domen = '{{domen}}';
        app.port = {{port}};
    </script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">Pastepic</a>
    </div>

    {% if renderTools %}
    <div class="edit-tools hidden">
        <div class="btn btn-info btn-sm" id="btn-toggle-crop" type="button" onclick="app.crop.enable(this)">
            <i class="icon-crop"></i>
        </div>
        <div class="btn btn-info btn-sm hidden" type="button">
            <i class="icon-pencil"></i>
        </div>
    </div>
    {% endif %}

    <div class="pull-right" id="status">{% if picDate %}{{picDate}}{% endif %}</div>

    <form class="navbar-form navbar-right" id="link-form" role="copy" style="display: none; width: 300px;">
        <div class="input-group">
            <input type="text" class="form-control input-sm pic-link">
            <span class="input-group-btn">
              <div id="btn-copy-link" class="btn btn-info btn-sm" type="button">Copy</div>
            </span>
        </div>
    </form>
    </div>

</nav>

{% block content %}{% endblock %}

<!-- Yandex.Metrika counter -->
{% include "./includes/ya-counter.html" %}

</body>
</html>
