{% extends 'layout.html' %}

{% block head %}
{% parent %}
<!-- Custom Css -->
<!-- Custom JavaScript -->
{% endblock %}

{% block content %}
<div id="header">
    <div class="container">
        <a href="/" class="logo fl-l">Pastepic</a>
    </div>
</div>
<div id="content">
    <div class="content-inner">
        {% if files %}
            {% for i in files %}
                <span>{{ i }}</span>
                <img src="/uploads/{{ files[i] }}" width="200">
            {% endfor %}
        {% endif %}
    </div>
</div>
<div id="footer">
    Developed by antonKalinin, 2013. Tips to 
    <a href="mailto:hurricanebox@gmail.com?Subject=Hi, Anton.">hurricanebox@gmail.com</a>
</div>

{% endblock %}
