{% extends 'layout.html' %}

{% block head %}
{% parent %}
<!-- Custom Css -->
<!-- Custom JavaScript -->
{% endblock %}

{% block content %}
<div id="header">
    <div class="container">
        <a href="/" class="logo fl-l">Pastepic</a>
    </div>
</div>
<div id="content">
    <div class="content-inner">
        {% if files %}
        <ul class="pic-list">
            {% for file in files %}
                <li>
                    <img src="/uploads/{{ file }}" width="200">
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div id="footer">
    Developed by antonKalinin, 2013. Tips to 
    <a href="mailto:hurricanebox@gmail.com?Subject=Hi, Anton.">hurricanebox@gmail.com</a>
</div>

{% endblock %}
