{% extends 'layout.html' %}

{% block head %}
{% parent %}
<!-- Custom Css -->
<link rel="stylesheet" href="css/monitor.css">
<!-- Custom JavaScript -->
{% endblock %}

{% block content %}
<div id="header">
    <div class="container">
        <a href="/" class="logo fl-l">Pastepic</a>
    </div>
</div>
<div id="content">
    <div class="content-inner">
        <div class="files-stats">
            Files count: {{ filesCount }}
        </div> 
        {% if files %}
        <ul class="pic-list">
            {% for file in files %}
                <li>
                    <a href="/uploads/{{ file.slice(0,-2) }}" target="_blank"><img src="/uploads/previews/{{ file }}" width="200"></a>
                </li>
                {% if loop.index && loop.index%5==0 %}<div class="clear"></div>{% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div id="footer">
    Developed by antonKalinin, 2013. Tips to 
    <a href="mailto:hurricanebox@gmail.com?Subject=Hi, Anton.">hurricanebox@gmail.com</a>
</div>

{% endblock %}
