html,
body {
    height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: #fff;
}

a {
  color: #00B7FF;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  background: #fff;
}

table.skeleton {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    vertical-align: top;
}

table.skeleton tbody {
    vertical-align: top;
}

table.skeleton td {

}

table td.side-container {
    width: 280px;
    min-width: 280px;
}

table td .inner {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}

.inner.shadow-right {
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
}

table td.content-container {
    text-align: center;
    background: #999;
}

.image-holder {
    margin: 50px auto 0;
}

.image-holder img {
    max-width: 1100px;
}

.content-tip {
    text-align: center;
    margin-top: 100px;
    color: #ccc;
}

.content-tip h1 {
    padding: 20px 30px; 
    border: 4px dashed;
    border-radius: 3px;
    width: 450px;
    margin: 0 auto;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    background: white;
    height: 44px;
    margin: -44px 20px 0;
}
