html,
body {
    height: 100%;
}

body {
  font: 12px Arial, sans-serif;
  margin: 0 auto;
  background: #fff;
  color: #272727;
}

a {
    color: #00B7FF;
}

.t-sha {
    text-shadow: 0 1px 0 #555;
}

.b-sha {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.5);
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    background-color: #999;
    background-image: url('img/bg_tile.jpg');
    overflow: hidden;
}

#side-container {
    position: absolute;
    background: transparent;
    height: 100%;
    z-index: 10;
    width: 280px;
    min-width: 280px;
}

#side-inner {
    position: relative;
    height: 100%;
    overflow: auto;
}

#header h1 {
    display: inline-block;
    background: #fff;
    margin: 20px 0 0;
    padding: 5px 15px 5px 20px;
}

#header p {
    background: #fff;
    margin-bottom: 120px;
    padding: 5px 15px 5px 20px;
}

#content-container {
    text-align: center;
}

#content-container.slided {
   margin-left: 280px;
}

img.pasted {
    width: 1100px;
    margin: 30px auto 0;
}


.content-tip {
    text-align: center;
}

ol.use-tip {
    display: block;
    width: 400px;
    margin: 200px auto;
    padding: 30px;
    list-style: none;
    color: #ccc;
    font-size: 19px;
    border: 3px dashed #ccc;
    border-radius: 3px;

}

img.loading {
    opacity: 0.4;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 30px;
    margin: -30px 20px 0;
    color: #dedede;
}

#footer span.email {
    color: #00B7FF;
}

/* CHAT */

.chat-wrap {
    margin: 0 20px;
}

#chat {
    height: 320px;
    padding: 7px 15px;
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    color: #dedede;
}

#chat ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chat li {
    margin: 10px 0;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    color: #272727;
}

#chat li span {
    margin-right: 5px;
    color: #00B7FF;
}

#chat li span:after {
    content: ":";
}

.chat-wrap input {
    width: 230px;
    background: rgba(0,0,0,0.3);
    border: 1px solid #333;
    padding: 4px;
    color: #ccc;
}

.logger {
    margin: 50px 20px 0;
    color: #777;
}

.logger p {
    margin: 2px 0;
}

span#o-count {
    display: inline-block;
    margin-left: 5px;
    color: #09c;
}


/* UI MODULES */

/* notify */
.notify {
    display: none;
    position: fixed;
    z-index: 9999;
    max-width: 300px;
    max-height: 24px;
    padding: 12px 15px;
    border-radius: 3px;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    color: #fff;
}

.notify.notify-top {
    border-radius: 0 0 3px 3px;
}

.notify.notify-bottom {
    border-radius: 3px 3px 0 0;
}
