html,
body {
    height: 100%;
}

body {
    font: 12px Arial, sans-serif;
    margin: 0 auto;
    background-color: #fff;
    background-image: url("img/bg_light.png");
    color: #272727;
}

a {
    color: #00B7FF;
}

.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

.fl-n {
    float: none;
}

.t-sha {
    text-shadow: 0 1px 0 #555;
}

.b-sha {
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.5);
}

.clear {
    clear: both;
}

.container {
    width: 1164px;
    margin: 0 auto;
    text-align: left;
}


#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
}

.canvas-container {
    position: absolute !important;
    cursor: crosshair;
}

#header p {
    padding: 5px 15px 5px 20px;
}

#header a {
    display: inline-block;
    font-size: 15px;
}

#header .vrt {
    display: block;
    height: 40px;
    float: left;
    margin: 0 10px;
    border-right: 1px solid #eee;
}

#header input.link-input {
    width: 255px;
    margin: 3px;
}

#header .controls {
    position: relative;
    float: right;
}

#header .controls .controls-blocker {
    position: absolute;
    left: 0;
    z-index: 10;    
    height: 40px;
    width: 100%;
    background: rgba(255,255,255,0.8);    
}

#header .controls .btn [class^="icon-"] {
    margin: -2px 2px;
}

#header a.login {
    padding: 12px 10px 10px;
    color: #353535;
}

#header a.login:hover {
    text-decoration: none;
}


#link-holder .pic-link{
    width: 230px;
    float: left;
}

#link-holder .pic-link a,
#link-holder .pic-link span {
    display: block;
    float: left;
    text-decoration: none;
}

#link-holder .slash {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 41px solid transparent;
    border-left: 10px solid #00B7FF;
}

#link-holder a.logo {
    padding: 10px 3px 10px 10px;
    background-color: #00B7FF/*#00B7FF*/;
    color: #fff;
    font-size: 17px;
}

#link-holder a.pic-id {
    margin-left: -10px;
    padding: 12px 10px 11px 10px;
    color: #373737;
    font-size: 15px;

}

#header .copy-link-tip {
    display: none;
    float: left;
    padding: 11px;
    font-size: 15px;
    color: #aaa;
}

.link-sharing {
    float: left;
    margin-left: 20px;
    border-left: 1px solid #ddd;
}

.link-sharing a {
    display: block;
    float: left;
    padding: 9px 7px 10px;
    background: #eee;
    border-right: 1px solid #ddd;
}

.link-sharing a:hover {
    background: #dedede;
}


.controls .edit-block {
    margin: 5px 10px 0;
    float: left;
}

#content {
   height: auto;
   min-height: 100%;
   overflow: auto;
}

#pic-holder {
    margin-top: 40px;
    text-align: center;
}

#pic-holder img.pasted {
    display: none;
    margin: 80px auto 10px;
}

#pic-holder .tip {
    margin-top: 250px;
}

#pic-holder .tip h1 {
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
}

#footer {
    width: 100%;
    height: 20px;
    margin-top: -20px;
    text-align: center;
    color: #545454;
    text-shadow: 0 1px 0 #fff;
}


/* ICONS */

[class^="icon-"],
[class*=" icon-"] {
    display:inline-block;
    width:20px;
    height:20px;
    margin-top:1px;
    *margin-right:.3em;
    line-height:20px;
    vertical-align:text-top;
    background-image:url("img/silkcons.png");
    background-position:0 0;
    background-repeat:no-repeat
}

.icon-plus   { background-position: 0 0; }
.icon-minus  { background-position: 0 0; }
.icon-crop   { background-position: -160px -306px; }
.icon-pencil { background-position: -32px -136px; }
.icon-blur   { background-position: 0 0; }
.icon-flash  { background-position: -288px -340px; }
.icon-right  { background-position: -96px -34px; }
.icon-down   { background-position: -128px -34px }
.icon-plus   { background-position: -128px 0px; }

/* UI MODULES */

/* notify */
.notify {
    display: none;
    position: fixed;
    z-index: 9999;
    max-width: 300px;
    max-height: 24px;
    padding: 12px 15px;
    border-radius: 3px;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    color: #fff;
}

.notify.notify-top {
    border-radius: 0 0 3px 3px;
}

.notify.notify-bottom {
    border-radius: 3px 3px 0 0;
}
